<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dominguez Dev</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="" href="/static/css/main.css" />
  </head>
  <body>
    <main>
      <div class="container hero">
        <div class="hero-deets">
          <h1>I’m Rob, welcome to my site.</h1>
          <p>
            I’m a <span>software engineer</span> that likes to solve problems.
            Currently, I'm slinging docs at
            <a href="https://hasura.io" target="_blank">Hasura</a> ✍️
          </p>
          <div class="hero-btns">
            <a class="primary" href="/posts">🤙 What I'm up to...</a>
          </div>
        </div>
        <div class="hero-img">
          <img src="/static/images/face.png" />
        </div>
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        document.body.style.opacity = "1";
      });
    </script>
  </body>
</html>
