<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dominguez Dev</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="" href="/static/css/main.css" />
    <link rel="stylesheet" type="" href="/static/css/prism.css" />
  </head>
  <body>
    <main>
      <div class="blog-layout">
        <div class="side-nav">
          <div class="blog-img">
            <img src="/static/images/face.png" />
          </div>
          <h3>Rob Dominguez</h3>
          <small
            >If you want to learn more about me, check out these posts. I've
            also got all my social links available right here.</small
          >
          <br />
          <div class="links">
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
          </div>
          <br />
          <a class="secondary" style="padding: 10 40" href="/posts">← Blog</a>
        </div>
        <div class="blog-content">
          <div class="post-container">{}</div>
        </div>
      </div>
    </main>
    <script src="/static/prism.js"></script>
  </body>
</html>
