<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dominguez Dev</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-KE72QC3G9M"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-KE72QC3G9M");
    </script>
  </head>
  <body>
    <main>
      <div class="blog-layout">
        <div class="side-nav">
          <div class="blog-img"><img src="/static/images/face.png" /></div>
          <h3>Rob Dominguez</h3>
          <small
            >If you want to learn more about me, check out these posts. I've
            also got all my social links available right here.</small
          ><br />
          <div class="links">
            <a href="https://github.com/robertjdominguez" target="_blank">
              <img src="/static/images/github.svg" />
            </a>
            <a
              href="https://www.linkedin.com/in/rob-dominguez-0b258b147/"
              target="_blank"
            >
              <img src="/static/images/linkedin.svg" />
            </a>
            <a href="https://twitter.com/_RobDominguez" target="_blank">
              <img src="/static/images/twitter.svg" />
            </a>
          </div>
          <br />
        </div>
        <div class="blog-content">
          <div>
            <h1 style="margin-bottom: 2vh">
              Cool things I
              <span style="color: var(--light-blue)">write</span> about
            </h1>
            <h3 class="sub-text">
              I work as a software engineer and primarily focus on documentation
              and DX at Hasura. Most of the posts you'll find talk about efforts
              made in automating mundane tasks, speeding up workflows, and
              learning new technologies. Hopefully something will spark an
              interest or help you with a small portion of a problem you're
              facing. Or, at the very least, entertain you 🤷‍♂️
              <br />
              <br />
              I spent nearly a decade in the classroom and working with some
              amazing educators. As such, there's a pretty large backlog of
              pedagogical and education-specific content.
            </h3>
            <div class="gallery">{}</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
