<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dominguez Dev</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="" href="/static/css/main.css" />
  </head>
  <body>
    <main>
      <div class="blog-layout">
        <div class="side-nav">
          <div class="blog-img"><img src="/static/images/face.png" /></div>
          <h3>Rob Dominguez</h3>
          <small
            >If you want to learn more about me, check out these posts. I've
            also got all my social links available right here.</small
          ><br />
          <div class="links">
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
            <a href="https://github.com/robertjdominguez" target="_blank"></a>
          </div>
          <br />
        </div>
        <div class="blog-content">
          <div style="opacity: 0">
            <h1 style="margin-bottom: 2vh">
              Cool things I
              <span style="color: var(--light-blue)">write</span> about
            </h1>
            <h3 class="sub-text">
              I spent nearly a decade in the classroom and working with some
              amazing educators. As such, there's a pretty large backlog of
              pedagogical and education-specific content. However, you'll also
              find my writings on problems and their solutions related to my
              work building services to help students and teachers. And, as my
              role as an engineer grows, I'll be writing more about my own
              experiences and what I've learned along the way.
            </h3>
            <div class="gallery">{}</div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
